/* fonts  */

@font-face {
    font-family: Comic Mono;
    font-weight: bold;
    src: url(./ComicMono-Bold.ttf);
}


/* root elemets */

* {
    color: var(--font-color-);
    font-family: Comic Mono;
    font-weight: normal;
    src: url(./ComicMono.ttf);
}

html {
    font-family: "Comic Mono";
    --bg-: #EEEBDD;
    --mid-sect-: #D8B6A4;
    --font-color-: #630000;
}


/* main section */

body {
    height: 100vh;
    background-color: var(--bg-);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* header  */

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 96%;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav li {
    list-style-type: none;
    padding: 0 5px;
}

.navbar-nav li a {
    color: blue;
}

.navbar-nav li a:visited {
    color: var(--font-color-);
}

.navbar-nav li:hover a {
    text-decoration: none;
}


/* main section */

.mid-section {
    background-color: var(--mid-sect-);
    border-radius: 15px;
    width: 60%;
    position: relative;
    padding: 5%;
    color: var(--font-color-);
    box-shadow: 3px 3px 15px 1px #000000;
}


/* footer  section */

footer {
    height: 5%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}


/* image */

embed {
    height: 70%;
}