/* fonts  */

@font-face {
    font-family: Comic Mono;
    font-weight: bold;
    src: url(./ComicMono-Bold.ttf);
}


/* root elemets */

* {
    font-family: Comic Mono;
    font-weight: normal;
    src: url(./ComicMono.ttf);
}

html {
    font-family: "Comic Mono";
}


/* main section */

body {
    height: 100vh;
    background-color: #e9dac1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* header  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #292020;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav li a {
    color: blue;
    list-style-type: none;
    padding: 0 5px;
}

.navbar-nav li:hover a {
    text-decoration: none;
}


/* image */

embed {
    width: 50px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 20px;
}