/* fonts  */

@font-face {
    font-family: Comic Mono;
    font-weight: bold;
    src: url(./ComicMono-Bold.ttf);
}


/* root elemets */

* {
    font-family: Comic Mono;
    font-weight: normal;
    src: url(./ComicMono.ttf);
}

html {
    font-family: "Comic Mono";
}


/* header  */


/* main section */

body {
    height: 100vh;
    background-color: #E9DAC1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

embed {
    width: 50px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 20px;
}